.info-container {
  margin-top: 50px;
}

.info-button {
  margin-bottom: 10px;
}

.info-intro {
  margin-top: 50px;
}

.storyteller-notes-container {
  margin-top: 50px;
}

.storyteller-notes {
  width: 100%;
  height: 400px;
}
