#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.char-name {
  &.Good {
    color: blue;
  }

  &.Evil {
    color: red;
  }

  &.is-dead {
    text-decoration: line-through;
  }
}

.clickable {
  cursor: pointer;
}

.edition-container {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}
