#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.char-name {
  &.good {
    color: blue;
  }

  &.evil {
    color: red;
  }

  &.clickable {
    cursor: pointer;
  }

  &.is-dead {
    text-decoration: line-through;
  }
}

.char-name-container {
  display: flex;
  justify-content: space-between;
}

.edition-container {
  margin-bottom: 10px;
}